@font-face {
    font-family: "whitneymedium";
    src: url("whitneymedium.woff") format("woff");
}

body {
    font-family: "whitneymedium", Helvetica, Arial, sans-serif;
    position: relative;
}

.grilleTotale {
    position: absolute;
    display: grid;
    grid-template-columns: 60% 40%; 
    left: 20%;
    right: 20%;
}

.grilleGauche {
    display: grid;
}
.grilleDroite {
    display: grid;
    margin-left: 3px;
    background-image: radial-gradient(rgba(24, 92, 219, 0.2), rgba(45, 53, 163, 0.945));
    border-radius: 5px;
    border: solid black 1px;
}

@media (max-width: 1200px) { 
    .grilleTotale {
        grid-template-columns: 100%; 
    }   
}

h1 {
    font-style: oblique;
    color: rgb(5, 50, 134);
    background-image: radial-gradient(rgba(24, 92, 219, 0.2), rgba(45, 53, 163, 0.945));
    border: solid black 3px;
    text-align: center;
}

h4 {
    text-align: center;
}

.listeParcours {
    list-style-type: square;
    font-size: 1.3rem;
}

.listeExperiences {
    list-style-type: circle;
    font-size: 1.3rem;
}

.listeCompetences {
    list-style-type: disc;
    font-size: 1.3rem;
}

h2, h3 {
    color: rgb(5, 50, 134);
}

.photo {
    width: 230px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#alignePhotoCentre {
    display: flex;
    justify-content: center;
}

.aligneLogoFormation {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    background-color: white;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#customLienCodeCademy {
    width: 50px;
}

#customLienOpenClassRoom {
    width: 50px;
}

#customLienSoloLearn {
    width: 50px;
}

#customLienLinkedIn {
    width: 50px;
}

#customLienGitHub {
    width: 50px;   
}

.coordonnes {
    margin-top: 5px;
    text-align: center;
}

.coordonnes p {
    margin-top: -10px;
}

.hardSkillsTitre {
    text-align: center;
}

.hardSkills {
    margin-left: 3px;
    display: flex;
    justify-content: center;
}

.hardSkills td {
    text-align: right;
}

.softSkills {
    text-align: center;
    margin-left: 3px;
 }

.softSkills p {
    margin-top: -10px;
}

.hobbies {
    text-align: center;
    margin-left: 3px;
}

.hobbies p {
    margin-top: -10px;
}
